/* Global Rules */

h4 {
  font-family: Helvetica;
  opacity: 0.9;
  font-size: 22px;
  color: seashell;
}

h2 {
  font-family: Helvetica;
  opacity: 0.9;
  font-size: 32px;
  color: seashell;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */

header {
  display: flex;
  position: fixed;
  background-color: black;
  width: 100%;
  height: 69px;
  border-bottom:  1px solid seashell;
  z-index: 1;
}

header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav span {
  padding-left: 20px;
  padding-right: 20px;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
}

a:link {
    color: seashell;
}

.logo img {
  height: 50px;
  padding-left: 10px;
  padding-top: 10px;
}

/* Our Mission Section*/

.ourmission {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 700px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.ourmission .text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  text-align: center;
  height: 100px;
  width: 1200px;
  margin-bottom: 50px;
}

.text .one {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.text .two {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

/* Tea of the Month section */

.teamonth {
  padding-top: 50px;
  max-width: 1000px;
  max-height: 1000px;
  padding-bottom: 30px;
}

.thumbnails {
  flex-wrap: wrap;
  display: inline-flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}

.teatext {
  display: flex;
  flex-direction: column;
  width: 1000px;
  justify-content: center;
  align-items: center;
}

.teatext .one {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.teatext .two {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.fallberry {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 260px;
  width: 300px;
}

.fallberrytext {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spicedrum {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 260px;
  width: 300px;
}

.spicedrumtext {
  display: flex;
  justify-content: center;
  align-items: center;
}

.donuts {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 260px;
  width: 300px;
}

.donutstext {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myrtle {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 260px;
  width: 300px;
}

.myrtletext {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bedford {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 260px;
  width: 300px;
}

.bedfordtext {
  display: flex;
  justify-content: center;
  align-items: center;
}

.locations {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 1200px;
  border: 1px solid white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.localtext {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid white;
}

.downtown, .bayside, .oakdale {
  display: flex;
  margin: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 250px;
  background-color: black;
  padding-bottom: 30px;
}

.downtown h4 {
  margin: 10px;
}

.bayside h4 {
  margin: 10px;
}


.oakdale h4 {
  margin: 10px;
}
